.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  background-color: #11ce46;
  border-radius: 99px;
  text-decoration: none;
  font-weight: 800;
  color: white;
  margin-top: -100px;
}
